<div class="row parent">
  <form action="/todos/create" method="post" class="col s12">
  <h2>Create new Todo</h2>
    <div class="row">
      <div class="input-field col s12">
        <input id="titleInp" name="title" type="text" class="validate" />
        <label for="last_name">Title</label>
      </div>
      <div class="input-field col s12">
        <input id="userInp" name="user" type="text" class="validate" />
        <label for="last_name">User</label>
      </div>
      <button type="submit" class="btn waves-effect waves-teal m5">Create Todo</button>
    </div>
  </form>
</div>